.form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 2em;
    padding-top: 1em;
    margin-bottom: 5em;
    border-radius: 10px;
}

.form input{
    padding: 0.8em;
    border-radius: 5px;
    border: 1px solid black;
}
.form label{
    margin-top: 1.5em;
    margin-left: 0.3em;
    color: black;
}
.form button{
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background-color: maroon;
    color: burlywood;
    margin-top: 1em;
    margin-left: auto;
    cursor: pointer;
    margin-right: auto;
}

.title{
    font-size: 25px;
    text-align: center;
    margin-top: 2em;

}
@media (max-width: 600px) {
    .form{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 1.5em;
        padding: 2em;
        padding-top: 1em;
        margin-bottom: 5em;
        border-radius: 10px;
    }
    .title{
        margin-top: 1em;
    }
}